body, html {width: 100%; min-height: 100vh; margin: 0 auto; position: relative; padding: 0; overflow-x: hidden;}
.banner {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
.banner {
min-height: 75vh;
object-fit: cover;
object-position: center center;
}
}